{% extends "base.html" %}
{% load staticfiles %}

{% block meta_description %}Pagina no encontrada{% endblock meta_description %}
{% block head_title %}Pagina no encontrada{% endblock head_title %}

{% block page_title %}
  <section class="jumbotron">
    <section class="container">
      <h1>404 Pagina no encontrada</h1>
    </section>
  </section>
{% endblock page_title %}

{% block content %}
  <section class="container">
    <section class="row">
      <div class="col-md-10 offset-md-1 text-center">
        <img class="img-fluid" src="{% static 'logo_large.png' %}" alt="logo" width="400">
      </div>
    </section>
  </section>
{% endblock content %}
