<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Error del servidor">
  <meta name="keywords" content="Venta, casa, piso, apartamento, parking, locales, local, terrenos, naves, industrial, alquiler, habitaciones">
  <meta name="author" content="Salvador Nicolas <snicoper@ofervivienda.com>">
  <title>Error 500</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
</head>
<body>
  <section class="jumbotron">
    <section class="container">
      <h1>Se ha producido un error</h1>
    </section>
  </section>

  <section class="container">
    <section class="row">
      <div class="col-md-10 m-auto">
        <h4 class="text-center">OferVivienda</h4>
        <div class="text-center my-4">
          <img class="img-fluid" src="/static/logo_large.png" alt="logo" width="400">
        </div>

        <div>
          Se ha enviado un email a la administración informando del error, si el problema continua,
          por favor, ponte en contacto con nosotros a través del email
          <code>webmaster@ofervivienda.com</code>
        </div>
      </div>
    </section>
  </section>
</body>
</html>
