{% load staticfiles %}
{% load utils_tags %}

<!-- navbar large -->
<nav class="navbar bg-primary navbar-inverse fixed-top nb-top d-none d-md-block">
  <ul class="nav">
    <li class="nav-item mr-auto">
      <a class="navbar-brand" href="{% url 'home_page' %}">
        <img src="{% static 'logo.png' %}" alt="{{ SITE.name }} Logo" height="30">
        {{ SITE.name }}
      </a>
    </li>

    <!-- todos los usuarios -->
    <li class="nav-item">
      <a class="nav-link" href="{% url 'search:search' %}">
        <i class="material-icons">search</i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'anuncios:create_select' %}">
        <i class="material-icons">add</i> Crear anuncio
      </a>
    </li><!-- end todos los usuarios -->

    {% if user.is_authenticated %}
      <!-- Usuarios autenticados -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           href="{% url 'accounts:profile' %}"
           id="navbarDropdownMenuLink-desktop"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false"
        >
          <i class="material-icons">person</i> {{ user.username }}
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink-dektop">
          <a class="dropdown-item" href="{% url 'accounts:profile' %}">
            <i class="material-icons">person</i> Mi cuenta
          </a>
          <a class="dropdown-item" href="{% url 'anuncios:list_by_owner' user.slug %}">
            <i class="material-icons">chrome_reader_mode</i> Mis anuncios
          </a>
          <a class="dropdown-item" href="{% url 'favorites:list' %}">
            <i class="material-icons">star</i> Favoritos
          </a>
          <a class="dropdown-item d-flex justify-content-left" href="{% url 'pmessages:inbox' %}">
            <span class="mr-auto"><i class="material-icons">message</i> Mensajes</span>
            <span>
              {% display_for INBOX_COUNT|default:'0' 'number' %}
            </span>
          </a>
          <a class="dropdown-item" href="{% url 'authentication:logout' %}">
            <i class="material-icons">exit_to_app</i> Terminar sesión
          </a>
          {% if perms.contact.can_view %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item d-flex justify-content-left" href="{% url 'contact:message_list' %}">
              <span class="mr-auto"><i class="material-icons">message</i> Mensajes contacto</span>
              <span class="ml-2">
                {% display_for CONTACT_MESSAGES_UNREAD 'number' %}
              </span>
            </a>
          {% endif %}
        </div>
      </li><!-- end Usuarios autenticados -->
    {% else %}
      <!-- Usuarios anónimos -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'authentication:register' %}">
          <i class="material-icons">person_add</i> Registro
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown-toggle"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false"
           href="#"
        >
          <i class="material-icons">person</i> Iniciar sesión
        </a>

        <div id="navbar-form-login" class="dropdown-menu dropdown-menu-right mr-4 z-index-2 bg-ligth" aria-labelledby="dropdownLogin">
          <form id="form-dropdown-login" class="px-4 py-3" method="post" action="{% url 'authentication:login' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <div class="form-group">
              <label class="sr-only" for="id_dropdown_username">Usuario</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="material-icons">person</i>
                </div>
                <input id="id_dropdown_username"
                       class="form-control form-control-sm"
                       type="text"
                       name="username"
                       placeholder="Nombre de usuario">
              </div>
            </div>
            <div class="form-group">
              <label class="sr-only" for="id_dropdown_password">Contraseña</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="material-icons">security</i>
                </div>
                <input id="id_dropdown_password"
                       class="form-control form-control-sm"
                       type="password"
                       name="password"
                       placeholder="Contraseña">
              </div>
            </div>

            <a id="btn-dropdown-login"
               class="btn btn-outline-primary btn-sm btn-block"
               onclick="$('#form-dropdown-login').submit();"
               href="#!"
            >
              Sign in
            </a>
            <a class="btn btn-outline-success btn-sm btn-block" href="{% url 'authentication:register' %}">Crear cuenta</a>
            <a class="btn btn-outline-warning btn-sm btn-block" href="{% url 'authentication:password_reset' %}">
              ¿Ha olvidado su contraseña?
            </a>
          </form>
          <div class="dropdown-divider"></div>
        </div>
      </li><!-- end Usuarios anónimos -->
    {% endif %}
  </ul>
</nav><!-- end navbar large -->

<!-- navbar med and down -->
<nav class="navbar bg-primary navbar-inverse fixed-top nb-top d-lg-none">
  <ul class="nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle"
         data-toggle="dropdown"
         href="{% url 'accounts:profile' %}"
         id="navbarDropdownMenuLink"
         role="button"
         aria-haspopup="true"
         aria-expanded="false"
      >
        <i class="material-icons">menu</i>
      </a>

      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <!-- todos los usuarios -->
        <a class="dropdown-item" href="{% url 'search:search' %}">
          <i class="material-icons">search</i> Buscar
        </a>
        <a class="dropdown-item" href="{% url 'anuncios:create_select' %}">
          <i class="material-icons">add</i> Crear anuncio
        </a><!-- end todos los usuarios -->

        <div class="dropdown-divider"></div>

        {% if user.is_authenticated %}<!-- Usuarios autenticados -->
          <a class="dropdown-item" href="{% url 'accounts:profile' %}">
            <i class="material-icons">person</i> Mi cuenta
          </a>
          <a class="dropdown-item" href="{% url 'anuncios:list_by_owner' user.slug %}">
            <i class="material-icons">chrome_reader_mode</i> Mis anuncios
          </a>
          <a class="dropdown-item" href="{% url 'favorites:list' %}">
            <i class="material-icons">star</i> Favoritos
          </a>
          <a class="dropdown-item d-flex justify-content-left" href="{% url 'pmessages:inbox' %}">
            <span class="mr-auto"><i class="material-icons">message</i> Mensajes</span>
            <span>
              {% display_for INBOX_COUNT|default:'0' 'number' %}
            </span>
          </a>
          <a class="dropdown-item" href="{% url 'authentication:logout' %}">
            <i class="material-icons">exit_to_app</i> Terminar sesión
          </a>
          {% if perms.contact.can_view %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item d-flex justify-content-left" href="{% url 'contact:message_list' %}">
              <span class="mr-auto"><i class="material-icons">message</i> Mensajes contacto</span>
              <span class="ml-2">
                {% display_for CONTACT_MESSAGES_UNREAD 'number' %}
              </span>
            </a>
          {% endif %}
        {% else %}
          <!-- Usuarios anónimos -->
          <a class="dropdown-item" href="{% url 'authentication:register' %}">
            <i class="material-icons">person_add</i> Registro
          </a>
          <a class="dropdown-item" href="{% url 'authentication:login' %}">
            <i class="material-icons">person</i> Iniciar sesión
          </a>
          <!-- end Usuarios anónimos -->
        {% endif %}
      </div>
    </li>
  </ul>
  <div class="d-flex justify-content-between">
    <a class="navbar-brand" href="{% url 'home_page' %}">
      <img src="{% static 'logo.png' %}" alt="{{ SITE.name }} Logo" height="30">
      {{ SITE.name }}
    </a>
  </div>
  <span><!-- tags requeridas para d-flex justify-content-between --></span>
</nav><!-- end navbar med and down -->
