.anuncio-list {
  @extend .text-muted;

  a {
    text-decoration: none;
  }

  .media {
    .thumbnail {
      max-height: 140px;
    }

    .media-body {
      min-height: 140px;

      .title {
        margin-bottom: 0.1rem;
        padding-bottom: 0.3rem;
      }

      .tags {
        margin-bottom: 0.5rem;
      }

      .description {
        font-size: 1rem;
      }

      .caracteristicas {
        font-size: 0.9rem;
      }
    }
  }
}
