.card {
  // Tamaño máximo a las cards.
  &.card-small {
    min-height: 200px;
  }

  &.card-medium {
    min-height: 300px;
  }

  &.card-large {
    min-height: 400px;
  }

  .card-img-top {
    width: 100%;
    max-height: 180px;
  }
}
