{% extends "base.html" %}

{% block meta_description %}Galería de imágenes del anuncio {{ anuncio.get_title }}{% endblock meta_description %}
{% block head_title %}- Galería de imágenes del anuncio {{ anuncio.get_title }}{% endblock head_title %}

{% block page_title %}
  <section class="jumbotron">
    <section class="container">
      <h1>Galería de imágenes</h1>
      <hr>
      <p class="lead">{{ anuncio.get_title }}</p>
    </section>
  </section>
{% endblock page_title %}

{% block content %}
  <section class="container gallery-anuncio">
    <section class="row">
      <div class="col-lg-10 m-auto">
        {% if image_list %}
          <section class="row">
            {% for image in image_list %}
              <div class="col-md-6 col-lg-4">
                {% with image.description|default:'Sin descripción' as image_description %}
                  <img class="img-anuncio img-fluid rounded z-depth-1"
                       src="{{ MEDIA_URL }}{{ image.thumbnail }}"
                       alt="{{ image_description }}"
                       title="{{ image_description }}"
                  >
                {% endwith %}
                <div class="img-actions">
                  <a class="text-success"
                     href="{% url 'gallery:image_anuncio_update' image.id %}"
                     data-toggle="tooltip"
                     title="Editar"
                  >
                    <i class="material-icons md-5">edit</i>
                  </a>
                  <a class="ml-3 text-danger"
                     href="{% url 'gallery:image_anuncio_delete' image.id %}"
                     data-toggle="tooltip"
                     title="Eliminar"
                  >
                    <i class="material-icons md-5">delete</i>
                  </a>
                </div>
              </div>
            {% endfor %}
          </section>
        {% else %}
          <h4 class="text-center">El anuncio no tiene imágenes para mostrar</h4>
        {% endif %}

        <hr>

        <div>
          <a class="btn btn-primary" href="{% url 'gallery:image_anuncio_add' anuncio.pk %}">
             Añadir imagen
          </a>
          <a class="btn btn-success" href="{% url 'anuncios:details' anuncio.pk %}">
            Ir a detalles
          </a>
        </div>
      </div>
    </section>
  </section>
{% endblock content %}
