{% extends "base.html" %}
{% load djtemplateforms_tags %}

{% block meta_description %}Formulario de contacto con {{ SITE.name }}{% endblock meta_description %}
{% block head_title %}- Formulario de contacto con {{ SITE.name }}{% endblock head_title %}

{% block page_title %}
  <section class="jumbotron">
    <section class="container">
      <h1>Formulario de contacto</h1>
    </section>
  </section>
{% endblock page_title %}

{% block content %}
  <section class="container">
    <section class="row">
      <div class="col-lg-8 m-auto">
        <form method="post" action="" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-row">
            {% form form %}

            <div class="col-12">
              <button class="btn btn-primary">Enviar <i class="material-icons md-4">send</i></button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </section>
{% endblock content %}
