<div id="anuncio-social-icons" class="text-center">
  <div class="btn-social" data-toggle="tooltip" title="Compartir en Facebook">
    <a class="facebook" onclick="window.open('http://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}&amp;title={{ anuncio  }}', '', 'width=500,height=300');">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
  </div>

  <div class="btn-social" data-toggle="tooltip" title="Compartir en Twitter">
    <a class="twitter" onclick="window.open('http://twitter.com/intent/tweet?status={{ anuncio }}+{{ request.build_absolute_uri }}', '', 'width=500,height=300');">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
  </div>

  <div class="btn-social" data-toggle="tooltip" title="Compartir en Google Plus">
    <a class="gplus" onclick="window.open('https://plus.google.com/share?url={{ request.build_absolute_uri }}', '', 'width=500,height=500');">
      <i class="fa fa-google-plus" aria-hidden="true"></i>
    </a>
  </div>

  <div class="btn-social" data-toggle="tooltip" title="Compartir en Pinterest">
    {# Pinterest no lee las metas og #}
    <a class="pinterest" onclick="window.open('http://pinterest.com/pin/create/bookmarklet/?media={{ PROTOCOL }}{{ request.get_host }}{{ MEDIA_URL }}{{ anuncio.get_random_thumbnail }}&amp;url={{ request.build_absolute_uri }}&amp;description=Anuncio {{ anuncio.get_title }}', '', 'width=500,height=300');">
      <i class="fa fa-pinterest-p" aria-hidden="true"></i>
    </a>
  </div>

  <div class="btn-social" data-toggle="tooltip" title="Recomendar Anuncio">
    <a class="envelope" href="{% url 'recommend:anuncio' anuncio.pk %}">
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </a>
  </div>
</div>
