{% extends "base.html" %}

{% block meta_description %}Últimos anuncios en {{ SITE.name }}{% endblock meta_description %}
{% block head_title %}- Últimos anuncios  en {{ SITE.name }}{% endblock head_title %}

{% block page_title %}
  <section class="jumbotron">
    <section class="container">
      <h1>Lista de anuncios</h1>
      <hr>
      <p class="lead">Últimos anuncios</p>
    </section>
  </section>
{% endblock page_title %}

{% block content %}
  <section class="container">
    {% include "anuncios/_anuncio_list.html" with anuncios=anuncio_list col="col-lg-10 offset-lg-1" %}

    {% include "_pagination.html" %}
  </section>
{% endblock content %}
