{% extends "authentication/base_authentication.html" %}
{% load djtemplateforms_tags %}

{% block meta_description %}{{ title }}{% endblock meta_description %}
{% block head_title %}- {{ title }}{% endblock head_title %}

{% block page_title %}
  <section class="jumbotron">
    <section class="container">
      <h1>{{ title }}</h1>
    </section>
  </section>
{% endblock page_title %}

{% block content %}
  <section class="container">
    <section class="row">
      <div class="col-lg-8 m-auto">
        <div class="alert alert-info alert-icon">
          ¿Ha olvidado su clave? Introduzca su dirección de correo a continuación y le enviaremos
            por correo electrónico las instrucciones para establecer una nueva.
        </div>

        <form method="post" action="">
          {% csrf_token %}
          <div class="form-row">
            {% form form %}

            <div class="col-12">
              <button class="btn btn-primary" type="submit">Restablecer mi contraseña</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </section>
{% endblock content %}
