{% extends "authentication/base_authentication.html" %}
{% load djtemplateforms_tags %}

{% block meta_description %}{{ title }}{% endblock meta_description %}
{% block head_title %}- {{ title }}{% endblock head_title %}

{% block page_title %}
  <section class="jumbotron">
    <section class="container">
      <h1>{{ title }}</h1>
    </section>
  </section>
{% endblock page_title %}

{% block content %}
  <section class="container">
    <section class="row">
      <div class="col-lg-8 m-auto">
        <div class="alert alert-info alert-icon">
          Por favor, introduzca su contraseña antigua, por seguridad, y después introduzca la
          nueva contraseña dos veces para verificar que la ha escrito correctamente.
        </div>

        <form method="post">
          {% csrf_token %}
          <div class="form-row">
            {% form form %}

            <div class="col-12">
              <button class="btn btn-primary" type="submit">
                Cambiar mi contraseña
              </button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </section>
{% endblock content %}
