{% extends "authentication/base_authentication.html" %}

{% block meta_description %}{{ title }}{% endblock meta_description %}
{% block head_title %}{{ title }}{% endblock head_title %}

{% block page_title %}
  <section class="jumbotron">
    <section class="container">
      <h1>{{ title }}</h1>
    </section>
  </section>
{% endblock page_title %}

{% block content %}
  <section class="container">
    <section class="row">
      <div class="col-lg-8 m-auto">
        <p>Su contraseña ha sido cambiada.</p>
      </div>
    </section>
  </section>
{% endblock content %}
