{% extends "authentication/base_authentication.html" %}

{% block meta_description %}{{ title }}{% endblock meta_description %}
{% block head_title %}- {{ title }}{% endblock head_title %}

{% block page_title %}
  <section class="jumbotron">
    <section class="container">
      <h1>{{ title }}</h1>
    </section>
  </section>
{% endblock page_title %}

{% block content %}
  <section class="container">
    <section class="row">
      <div class="col-lg-8 m-auto">
        <p>Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que
          existe una cuenta con la dirección electrónica que indicó. Debería recibirlas en breve.</p>

        <p>Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo
          con la que se registró y verifique su carpeta de spam.</p>
      </div>
    </section>
  </section>
{% endblock content %}
