{% extends "accounts/base_accounts.html" %}

{% block meta_description %}Mensajes enviados por {{ user.username }}{% endblock meta_description %}
{% block title %}- Mensajes enviados{% endblock title %}

{% block page_title %}
  <section class="jumbotron">
    <section class="container">
      <h1>Mensajes enviados</h1>
    </section>
  </section>
{% endblock page_title %}

{% block accounts_content %}
  <section class="container">
    <section class="row">
      <div class="col-12">
        <div class="text-center">
          <a class="btn btn-outline-success" href="{% url 'pmessages:inbox' %}">
            <i class="material-icons">call_received</i> Ver recibidos
          </a>

          {% if not outbox_list %}
            <h5 class="mt-3">No has enviado ningún mensaje</h5>
          {% endif %}
        </div>
      </div>
    </section>

    {% include "pmessages/_list.html" with message_list=outbox_list %}
  </section>

  {% include "_pagination.html" %}
{% endblock accounts_content %}
