{% load i18n %}{% autoescape off %}
{% blocktrans %}Ha recibido este correo electrónico porque ha solicitado restablecer la contraseña para su cuenta en {{ site_name }}.{% endblocktrans %}

{% trans "Por favor, vaya a la página siguiente y escoja una nueva contraseña." %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'authentication:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Su nombre de usuario, en caso de haberlo olvidado" %} {{ user.get_username }}

{% trans "¡Gracias por usar nuestro sitio!" %}

{% blocktrans %}El equipo de {{ site_name }}{% endblocktrans %}

{% endautoescape %}
