{% extends "blog/base_blog.html" %}
{% load utils_tags %}

{% block mata_description %}{{ article.title }}{% endblock mata_description %}
{% block head_title %} - {{ article.title }}{% endblock head_title %}

{% block blog_content %}
  <section class="container mt-4 article-details">
    <!-- article -->
    <section class="row">
      <article class="col-lg-10 m-auto">
        <header>
          <h1>{{ article.title }}</h1>
          <div class="text-muted">
            <small>
              <i class="material-icons md-3">person</i> {{ article.owner.username }}
              <i class="material-icons md-3">access_time</i> {{ article.create_at|timesince }}
              {% include "blog/_disqus_num_comments.html" %}

              {% if user.is_superuser %}
                <i class="material-icons md-3">remove_red_eye</i> {{ article.views }}
              {% endif %}
            </small>
          </div>
          <hr>
        </header>

        <div>{% markdown article.body safe=True %}</div>

        <footer class="bg-light">
          {% for tag in article.tags.all %}
            <span class="badge badge-secondary">
              <a href="{% url 'blog:articles_by_tag' tag.slug %}">{{ tag.title }}</a>
            </span>
          {% endfor %}

          {% if perms.blog_article.can_edit %}
            <div class="float-right">
              <a target="_blank" href="/admin/blog/article/{{ article.id }}/change/">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
            </div>
          {% endif %}
        </footer>
      </article>
    </section><!-- end article -->

    <!-- next previous article -->
    <section class="row mt-4">
      <div class="col-lg-10 offset-lg-1">
        {% with article_previous=article.get_previous_by_create_at %}
          {% if article_previous %}
            <div class="float-left">
              <a class="btn btn-secondary"
                 data-toggle="tooltip"
                 title="{{ article_previous.title }}"
                 href="{% url 'blog:article_detail' article_previous.slug %}"
              >
              <i class="fa fa-chevron-left" aria-hidden="true"></i> {{ article_previous.title|truncatewords:3 }}
              </a>
            </div>
          {% endif %}
        {% endwith %}

        {% with article_next=article.get_next_by_create_at %}
          {% if article_next %}
            <div class="float-right">
              <a class="btn btn-secondary"
                 data-toggle="tooltip"
                 title="{{ article_next.title }}"
                 href="{% url 'blog:article_detail' article_next.slug %}"
              >
                {{ article_next.title|truncatewords:3 }} <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </a>
            </div>
          {% endif %}
        {% endwith %}
      </div>
    </section><!-- end pagination -->

    {% include "blog/_social_icons.html" %}

    <section class="row disqus_comments mt-4">
      <div class="col-lg-10 offset-lg-1">
        {% include "blog/_disqus_comments.html" %}
      </div>
    </section>
  </section>
{% endblock blog_content %}
